name: Bats tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Bats
        uses: bats-core/bats-action@3.0.1
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Run tests
        run: bats test
