name: Bats tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Install Bats
        run: |
          sudo apt-get update
          sudo apt-get install --assume-yes bats
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Run tests
        run: bats test
